.editor {
    background-color: #fefefe;
    border-radius: 10px;
    margin-block: 5%;

    .textZone {
        inline-size: calc(100% - 24px);
        border-top-left-radius: 10px;
        block-size: 100px;
        padding: 12px;
        border: none;
        border-bottom: 1px solid black;
        color: chocolate;
    }
}

